{
    "appId": "CUUH9kg9F5Mhq5",
    "appSecret": "1zPff6Fy1RuN68UrJkrc0hxg",
    "refreshToken": "626775793947-JNnrKURHah2wq8dzZjm63Av9Ec4",

    "subreddit": "catpictures",
    "password": "AVerySecurePassword"
}
