<div class="permalink">@post.id</div>
<div class="title">title</div>
<div class="votes">@post.ups</div>
<div class="timestamp">@post.creation</div>
<div class="author">@post.author</div>

@code {
    [Parameter] public bool controls { get; set; }
    [Parameter] public Db.Post post { get; set; }
}
