<button
    class="reportbutton @($"reportbutton-{action.ToString().ToLower()}") @(post.state == action ? "active" : "")"
    @onclick="SetPostState"
>@(action.ToString().ToLower())</button>

@code {
    [Parameter] public Db.PostState action { get; set; }
    [Parameter] public Db.Post post { get; set; }

    public void SetPostState()
    {
        Db.Instance.UpdatePostState(post, action);
    }
}
