@page "/pending"

@using PaperclipPerfector.Components
@using PaperclipPerfector.Data

<h1>Pending AAQCs</h1>

@foreach (var post in posts)
{
    <div class="post">
        <ReportWidget post="@post"/>
        <div class="body">@((MarkupString)post.html)</div>
        <ReportWidget post="@post" controls="true"/>
    </div>
}

@code {
    private Db.Post[] posts = null;

    protected override void OnInitialized()
    {
        posts = Db.Instance.ReadAllPosts();
    }
}
